<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
      integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Weather</title>
  </head>
  <body>
    <div class="container">
      <div class="left-section">
        <form class="input-section" action="/" method="post">
          <input
            type="text"
            id="search"
            name="city"
            placeholder="Write your city"
            required
          />

          <button type="submit" class="search-btn">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
        </form>

        <% if (locals.error) { %>
        <p class="error"><%= error %></p>
        <% }else{ %>

        <div class="today">
          <img src="<%= todayIcon %>" alt="" />
          <h2><%= temperature%>°C</h2>
          <h4>Feels like <%= feels%>°C</h4>
          <h4 style="color: #aa9696a4">"<%=description %>"</h4>
          <h4><%= time %></h4>
          <h4><%= city %>, <%= country %></h4>
        </div>
      </div>

      <div class="right-section">
        <div class="details-section">
          <h2>Today's Highlights</h2>

          <div class="details-container">
            <div class="box">
              <h4>Humidity</h4>
              <i class="fa-solid fa-droplet"></i>
              <h3><%=humidity%>%</h3>
            </div>
            <div class="box">
              <h4>Wind Speed</h4>
              <i class="fa-solid fa-wind"></i>
              <h3><%=windSpeed%>m/s</h3>
            </div>
            <div class="box sun-time">
              <div class="sun">
                <i class="fa-solid fa-sun"></i>
                <span>
                  <h5><%= sunriseTime%></h5>
                  <h5>Sunrise</h5>
                </span>
              </div>
              <div class="sun">
                <i class="fa-regular fa-sun"></i>
                <span>
                  <h5><%= sunsetTime%></h5>
                  <h5>Sunset</h5>
                </span>
              </div>
            </div>
            <div class="box">
              <h4>Clouds</h4>
              <i class="fa-solid fa-cloud"></i>
              <h3><%= clouds %>%</h3>
            </div>
            <div class="box">
              <h4>Coordinates</h4>
              <i class="fa-solid fa-globe"></i>
              <span style="margin-top: 10px">
                <h4>Lat : <%= lat %>°</h4>
                <h4>Lng : <%= lon %>°</h4>
              </span>
            </div>
            <div class="box">
              <h4>Pressure</h4>
              <i class="fa-solid fa-wind"></i>
              <h3><%= pressure %> hPa</h3>
            </div>
          </div>
        </div>

        <h2>4 Days Forecast</h2>

        <div class="days">
          <div class="day">
            <h6><%= forecast[0].weeklyDate %></h6>
            <img src="<%= forecast[0].icon %>" alt="" />
            <span><%= forecast[0].description %></span>
            <h5>
              <%= forecast[0].tempMax %>°C&nbsp;&nbsp;&nbsp;&nbsp;<%=
              forecast[0].tempMin %> °C
            </h5>
          </div>
          <div class="day">
            <h6><%= forecast[1].weeklyDate %></h6>
            <img src="<%= forecast[1].icon %>" alt="" />
            <span><%= forecast[1].description %></span>
            <h5>
              <%= forecast[1].tempMax %>°C&nbsp;&nbsp;&nbsp;&nbsp;<%=
              forecast[1].tempMin %> °C
            </h5>
          </div>
          <div class="day">
            <h6><%= forecast[2].weeklyDate %></h6>
            <img src="<%= forecast[2].icon %>" alt="" />
            <span><%= forecast[2].description %></span>
            <h5>
              <%= forecast[2].tempMax %>°C&nbsp;&nbsp;&nbsp;&nbsp;<%=
              forecast[2].tempMin %> °C
            </h5>
          </div>
          <div class="day">
            <h6><%= forecast[3].weeklyDate %></h6>
            <img src="<%= forecast[3].icon %>" alt="" />
            <span><%= forecast[3].description %></span>
            <h5>
              <%= forecast[3].tempMax %>°C&nbsp;&nbsp;&nbsp;&nbsp;<%=
              forecast[3].tempMin %> °C
            </h5>
          </div>
        </div>
      </div>
      <% } %>
    </div>
  </body>
</html>
